<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adana Real Estate</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('user/styles/style.css') }}">
    <link rel="icon" href="{{ asset('user/images/logo.png') }}" type="image/x-icon">
</head>

<body>
    <div class="preeloder">
        <img src="{{ asset('user/images/logo.png') }}" alt="">
    </div>
    <!-- Banner Area STart -->
    <div class="banner">
        <div class="header container ">

            <div class="leftMd">
                <img src="{{ asset('user/images/logo.png') }}" alt="" class="icon">
                <img src="{{ asset('user/images/AdanaLogo.png') }}" alt="" class="logo">
            </div>
            <div class="rightMd">
                <div class="box">
                    <img src="{{ asset('user/images/country.png') }}" alt="">
                    <span>Country</span>
                </div>
                <div class="box">
                    <img src="{{ asset('user/images/language.png') }}" alt="">
                    <span>Language</span>
                </div>
            </div>
        </div>
        <div class="menuWrapper" data-aos="fade-up" data-aos-duration="3000">
            <div class="menu ">
                <div class="menuBox">
                    <a href="#"><img src="{{ asset('user/images/home-icon.png') }}" alt=""></a>
                </div>
                <div class="menuBox">
                    <a href="#"><img src="{{ asset('user/images/aboutus-icon.png') }}" alt=""></a>
                </div>
                <div class="menuBox">
                    <a href="#"><img src="{{ asset('user/images/building-icon.png') }}" alt=""></a>
                </div>
                <div class="menuBox">
                    <a href="#"><img src="{{ asset('user/images/message-icon.png') }}" alt=""></a>
                </div>
                <div class="menuBox">
                    <a href="#"><img src="{{ asset('user/images/join-icon.png') }}" alt=""></a>
                </div>
                <div class="menuBox">
                    <a href="#"><img src="{{ asset('user/images/contactus-icon.png') }}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="bannerText "  data-aos="fade-up" data-aos-duration="3000">
            <h2>WORLDWIDE REAL ESTATE AND ASSES SALES BROKERAGE</h2>
            <a href="#">Go to services »</a>
        </div>
    </div>

    <!-- Practice Area Start -->
    <div class="container-fluid practiceArea">
        <div class="container">
            <h1 class=" "  data-aos="fade-up"> PRACTICE AREAS</h1>
            <div class="row">
                <div class="col-6  "  data-aos="fade-up">
                    <img src="{{ asset('user/images/Commercial.png') }}" alt="">
                    <div class="text">
                        <h5>COMMERCIAL</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                            consectetur adipiscing. consectetur adipiscing elit.Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-6  "  data-aos="fade-up">
                    <img src="{{ asset('user/images/Residntial.png') }}" alt="">
                    <div class="text">
                        <h5>RESIDENTIAL</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                            consectetur adipiscing. consectetur adipiscing elit.Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-6 "  data-aos="fade-up">
                    <img src="{{ asset('user/images/plot.png') }}" alt="">
                    <div class="text">
                        <h5>LAND</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                            consectetur adipiscing. consectetur adipiscing elit.Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-6 "  data-aos="fade-up">
                    <img src="{{ asset('user/images/estate.png') }}" alt="">
                    <div class="text">
                        <h5>ESTATES</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                            consectetur adipiscing. consectetur adipiscing elit.Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-6 "  data-aos="fade-up">
                    <img src="{{ asset('user/images/plan.png') }}" alt="">
                    <div class="text">
                        <h5>OFF PLAN</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                            consectetur adipiscing. consectetur adipiscing elit.Lorem ipsum dolor.</p>
                    </div>
                </div>
                <div class="col-6 "  data-aos="fade-up">
                    <img src="{{ asset('user/images/portfolio.png') }}" alt="">
                    <div class="text">
                        <h5>PORTFOLIO MANAGEMENT</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet,
                            consectetur adipiscing. consectetur adipiscing elit.Lorem ipsum dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us Start -->
    <div class="container aboutUs">
        <img src="{{ asset('user/images/adenaImage.png') }}" alt="" class=" "  data-aos="fade-up">
        <div class="text  "  data-aos="fade-up">
            <h2>WHY ADANA</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut arcu efficitur
                suscipit. Nulla ultrices velit tortor, a rhoncus mi semper et. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia curae; Phasellus tincidunt ligula id condimentum auctor.
                Vestibulum ante ipsum primis. Phasellus tincidunt ligula id condimentum auctor. Vestibulum ante ipsum
                primis. Phasellus tincidunt ligula id condimentum auctor. Vestibulum.</p>
            <div class="btn"><a href="#">Know more »</a></div>
        </div>
    </div>

    <!-- Vission & Mission Start -->
    <div class="vissionMission container-fluid">
        <div class="container">
            <div class="row">
                <div class="box  "  data-aos="fade-up">
                    <h4>VISION</h4>
                    <div class="row">
                        <img src="{{ asset('user/images/vision.png') }}" alt="">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut
                                arcu
                                efficitur suscipit. Nulla ultrices velit torto.</p>
                            <a href="#">Take me to the page →</a>
                        </div>
                    </div>
                </div>
                <div class="box  "  data-aos="fade-up">
                    <h4>MISSION</h4>
                    <div class="row">
                        <img src="{{ asset('user/images/mission.png') }}" alt="">
                        <div class="text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut
                                arcu
                                efficitur suscipit. Nulla ultrices velit torto.</p>
                            <a href="#">Take me to the page →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- News and Articles Start -->
    <div class="container newsArticle">
        <h2>NEWS & ARTICLES</h2>
        <div class="row">
            <div class="box  "  data-aos="fade-up">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis</h6>
                <span>24 Jan 2023</span>
                <div class="row">
                    <img src="{{ asset('user/images/image1.png') }}" alt="">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut arcu
                            efficitur suscipit. Nulla ultrices velit tortor, a rhoncus mi semper...</p>
                        <div class="linkRow">
                            <a href="#">Read full story →</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box "  data-aos="fade-up">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis</h6>
                <span>24 Jan 2023</span>
                <div class="row">
                    <img src="{{ asset('user/images/image1.png') }}" alt="">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut arcu
                            efficitur suscipit. Nulla ultrices velit tortor, a rhoncus mi semper...</p>
                        <div class="linkRow">
                            <a href="#">Read full story →</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box "  data-aos="fade-up">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis</h6>
                <span>24 Jan 2023</span>
                <div class="row">
                    <img src="{{ asset('user/images/image1.png') }}" alt="">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut arcu
                            efficitur suscipit. Nulla ultrices velit tortor, a rhoncus mi semper...</p>
                        <div class="linkRow">
                            <a href="#">Read full story →</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box "  data-aos="fade-up">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis</h6>
                <span>24 Jan 2023</span>
                <div class="row">
                    <img src="{{ asset('user/images/image1.png') }}" alt="">
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis enim ut arcu
                            efficitur suscipit. Nulla ultrices velit tortor, a rhoncus mi semper...</p>
                        <div class="linkRow">
                            <a href="#">Read full story →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Start -->
    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="leftMd">
                    <img src="{{ asset('user/images/footer-logo.png') }}" alt="" class="footer-logo">
                    <div class="addressRow">
                        <div class="left">
                            <p><img src="{{ asset('user/images/location-footer.png') }}" alt="">
                                Aspin Commercial Tower, <br> Office No: 1104, Trade Center 1, <br> Sheikh Zayed Road,
                                <br> Dubai,
                                United Arab Emirates
                            </p>
                            <p><img src="{{ asset('user/images/location-footer.png') }}" alt="">Room number, Landmark, <br> City, Rpad
                                name, <br> State, Saudi Arabia</p>

                            <p><img src="{{ asset('user/images/phone-icon.png') }}" alt="">
                                <span>
                                    <a href="#">+971 45915866</a>
                                    <a href="#">+971 5424 79979</a>
                                </span>
                            </p>
                            <p>
                                <img src="{{ asset('user/images/mail-icon.png') }}" alt="">
                                <a href="#">info@adanarealestate.com</a>
                            </p>
                        </div>
                        <div class="right">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Properties</a></li>
                                <li><a href="#">Terms of services</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightMd">
                    <h2>WRITE US</h2>
                    <p>For any general inquiries, please fill in the following contact form:</p>
                    <div class="formRow">
                        <div class="formBox">
                            <input type="text" name="subject" placeholder="subject">
                            <input type="text" name="name" placeholder="name">
                            <input type="email" name="email" placeholder="email">
                            <div class="btnRow">
                                <button type="submit">Send</button>
                            </div>
                        </div>
                        <div class="formBox right">
                            <textarea name="message">message</textarea>
                            <div class="btnRow">
                                <button type="submit">Send</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="copyrightRow">
                <span>© 2023 - Adana</span>
                <ul>
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>

                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>

                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/d764f5a9b2.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    // Get the element with class "preloader"
    var preloaderElement = document.querySelector('.preeloder');

    setTimeout(function() {
        // Add another class to the element
        preloaderElement.classList.add('hide');
    }, 1000);

    
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
 
</html>